In [2]:
import pandas as pd 
df = pd.read_csv('world.csv')
df1 = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]
df1

        洲名   國家          日期    總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24       5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25       5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26       5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27       5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28       5      0  39835428  99999.0
...     ..  ...         ...     ...    ...       ...      ...
187880  非洲  辛巴威  2022-07-02  255586      0  15092171  99999.0
187881  非洲  辛巴威  2022-07-03  255586      0  15092171  99999.0
187882  非洲  辛巴威  2022-07-04  255726    140  15092171  99999.0
187883  非洲  辛巴威  2022-07-05  255755     29  15092171  99999.0
187884  非洲  辛巴威  2022-07-06  255805     50  15092171  99999.0

[187885 rows x 7 columns]